@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

@media (max-width: 640px) {
    .hot-drinks-container {
        flex-direction: column;
    }
}



.hot-drinks-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.hot-drinks-title-container{
    width: 50vw;
}

.hot-drinks-title-container h3 {
    color: #65451F;
}

.hot-drinks-list-container {
    width: 50vw;
}

.hot-drinks-list-container ul {
    list-style: none;
    padding: 0;
}

.hot-drinks-list-container li {
    font-weight: 300;
}