.navbar-container {
    width: 100vw;
    height: auto;
    background-color: #C8AE7D;
    display: flex;
    justify-content: center;
}

.navbar-logo {
    padding: 1rem;
    width: 12vw;
    border-radius: 15%;
}